@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    padding: 0px;
    margin: 0px;
    }
body{
    background-color: rgb(138, 65, 65);
}
.navbar{
    background-color: rgb(247, 195, 195);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
#yt{
    background-color:rgb(184, 23, 23);
    }    
#fb{
    background-color:rgb(40, 9, 218);
    }    
#ig{
    background-color: rgb(107, 56, 9);
    }  
#twt{
    background-color:rgb(27, 168, 211);
    }    
#ph{
    background-color:rgb(211, 95, 0);
    }
        #ph a{
                    color:rgb(51, 48, 48);
            }
        #fb a{
                color:rgb(255, 195, 255);
            }
        #twt a{
                color:rgb(255, 0, 0);
            }
        #ig a{
                color:rgb(234, 238, 24);
            }
.links{
    display: inline;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Pixelify Sans';
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 70%;
    transform: .6;
    font-weight: 800;
    transition:0.4s;
    }
.links a{
    text-decoration: none;
    }
.links:hover{
     opacity: 1;
     transition: 0.4s;
     font-size:large;
    }
#linksgroup{
    text-align: center;
    }



.banner{
    background-image: url('images/twicebanner.jpg');
    background-size:cover;
    background-position:center;
    height:350px;
    width:100vw;
}
.banner-text{
    font-family: 'Roboto Condensed', sans-serif;
    position:absolute;
    left:4%;
    top:8%;
}
.banner-text h2{
    text-transform: uppercase;
    color:rgb(159, 127, 127);
    font-size:4em;
}
.banner-text h2 span{
    color:rgb(83, 69, 69);
}
.banner-text p{
    color:rgb(182, 98, 98);
}
.banner-text a{
    text-decoration:none;
    margin-top:1em;
    display: inline-block;
    padding:1em;
    background-color: rgb(85,70,70);
    color:rgb(255, 255, 255);
}